.headerproducts {
  background-image: url("/src/assets/images/Napierssalves02_667b899a-042f-411e-8145-b7e7de138d37.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .headerdivproducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 32px;
    margin: auto;

    h1 {
      font-size: 32px;
      font-weight: 400;
      color: white;
      padding-bottom: 12px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .card-name,
  .card-price,
  .card-description {
    font-weight: 400;
    font-size: 18px;
    color: rgb(24, 24, 26);
    text-align: left;
  }
  .card-description {
    color: rgb(70, 70, 71);
    text-overflow: ellipsis;
  }
}

.h2products {
  font-size: 24px;
  font-weight: 400;
  padding: 24px 16px 0 16px;
  margin: auto;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-card {
  padding-bottom: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .image-container {
    position: relative;
    overflow: hidden; 
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;

    &:hover .button {
      transform: translateY(-50%);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .button {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: translateY(100%);
      transition: transform 0.3s ease;
      margin: 0;
    }
  }
  .cardimage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;

  }

  @media (max-width: 768px) {
    .card-description {
      display: none;
    }
  }
}

.divbuttonplacement {
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;
}